/*
* Custom modules
*/

/* Forms */
.form-container {
    padding: 1em;
    background: rgba(0,0,0,.05);
}

.slide-item {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #cdcecf;
}

.slide-item h5 {
    border-bottom: 1px solid #cdcecf;
    padding-bottom: 4px;
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5pt;
}

span.bold {
    font-weight: bold;

}
span.italic {
    font-style: italic;
}

/* From our tables and slide results */
.ctrTitle,
.title {
    font-size: 20pt;
    font-weight: bold;
}
.subTitle {
    font-size: 16pt;
    font-weight: bold;
}
ul.lvl0 {

}
ul.lvl1 {
    margin-left: 10pt;
}
ul.lvl2 {
    margin-left: 20pt;
}
ul.lvl3 {
    margin-left: 30pt;
}
ul.lvl4 {
    margin-left: 40pt;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}
.tableRowFirst {
    background-color: #e48a53;
    color: #FFFFFF

}
span.bold {
    font-weight: bold;

}
span.italic {
    font-style: italic;

}
