<header role="banner">
    <div class="container">
        <div class="row">
            <a href="/" class="nav-link">PPTX Scraper</a>
            <nav role="navigation" class="nav-primary" aria-label="Powerpoint Scraper Options">
                <div class="main-menu-navigation-container">
                    <ul class="nav">
                        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">Docs</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Github</a></li>
                        <a href="/upload" class="btn btn-primary btn-small nav-item nav-link">Upload</a>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
