<nav role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Powerpoint Scraper Options">
    <a href="/" class="navbar-brand">PPTX-Checker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="primaryNav" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="primaryNav">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item"><a href="https://github.com/Effortmark/XSLT-Software/blob/master/README.md" class="nav-link" target="_blank">Docs</a></li> -->
            <li class="nav-item"><a href="https://github.com/Effortmark/XSLT-Software" class="nav-link" target="_blank">View on Github</a></li>
        </ul>
    </div>
</nav>
